---
import { Image } from "astro:assets";
import Macadam from "../assets/macadam-thumb.jpeg";
import ManoMano from "../assets/manomano-thumb.jpeg";
import SiVasDescalzo from "../assets/svd-thumb.jpeg";
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";

const projects = [
  {
    title: "Scaling e-commerce at ManoMano — B2B & B2C",
    description:
      "At ManoMano, I helped scale a high-traffic e-commerce platform with advanced product architecture (multi-variant, multi-seller), dynamic pricing, and tax logic. I led the delivery of high-performance features like wishlist sync, one-click carts, and barcode checkout — all while optimizing for speed and mobile retention.",
    image: ManoMano,
  },
  {
    title: "Bringing animations to life at Macadam",
    description:
      "At Macadam, I led the development of a new animation system that allowed for more complex and dynamic animations. I also worked on the integration of the animation system with the rest of the platform.",
    image: Macadam,
  },
  {
    title: "Handled raffles with +100k participants at SiVasDescalzo",
    description:
      "At SiVasDescalzo, I worked on implementation and design of a new raffle system that allowed for more complex and dynamic raffles.",
    image: SiVasDescalzo,
  },
];
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1> Projects </H1>

    <ul
      class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-16 sm:gap-8"
    >
      {
        projects.map((project) => (
          <li>
            {/* TODO: I'd like this to be a frame that on hover plays the video */}
            <Image
              src={project.image}
              alt={project.title}
              class="aspect-[1/1.33] object-cover object-left-top rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4"
            />
            <div class="p-1 sm:p-2">
              <h2 class="text-base text-zinc-100">{project.title}</h2>
              <p class="text-sm text-zinc-400 text-balance">
                {project.description}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</InfoLayout>
